<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Other Level</title> 

    <!-- LINK's -->
    <link rel="stylesheet" href="../css/home/style.css">
    <link rel="stylesheet" href="../css/home/navbar.css">
    <link rel="stylesheet" href="../css/home/carrousel.css">
    <link rel="stylesheet" href="../css/home/post.css">
    <link rel="stylesheet" href="../css/home/navbarresponsivo.css">
    
    <%- include('../partials/header'); %>

</head>
<body>

  <%- include('../partials/navbar'); %>

  <main>
      <div class="banner" id="banner" >
          <div class="banner-espaco-1">
              <span>Encontre o <i cass="frase" id="frase">Programador</i><br>certo para seu projeto</span>
          </div>
      </div>
      <div class="conteudo">
          <diva class="carrosel">
              <div class="wrapper">
                  <i id="left" class="fa-solid fa-angle-left"></i>
                  <ul class="carousel">
                    <button class="cardd" id="categoria1">
                      <li class="card c1">
                        <h2>Design IA</h2>
                      </li>
                    </button>
                    <button class="cardd" id="categoria2">
                      <li class="card c2">
                        <h2>Logo Maker</h2>
                      </li>
                    </button>
                    <button class="cardd" id="categoria3">
                      <li class="card c3">
                        <h2>Web-Design <br> UI / UX </h2>
                      </li>
                    </button>
                    <button class="cardd" id="categoria3">
                      <li class="card c4">
                        <h2>Social Média</h2>
                      </li>
                    </button>
                    <button class="cardd" id="categoria4">
                      <li class="card c5">
                        <h2>Desenhos</h2>
                      </li>
                    </button>
                    <button class="cardd" id="categoria5">
                      <li class="card c6">
                        <h2>3D</h2>
                      </li>
                    </button>
                  </ul>
                  <i id="right" class="fa-solid fa-angle-right"></i>
                </div>
          </div>
      </div>
      <div class="postagens">
        <% if(post == true) { %>
          <div class="card-list">
          <% postagens.forEach(function(postagem) { %>
            <a href="/postagem/<%= postagem._id %>">
              <div class="cardi">
                <figure class="card-image">
                  <img src="./<%= postagem.capa %>" alt="Capa de Projeto" />
                </figure>
                <div class="card-h">
                  <%= postagem.info.titulo %>
                  <div class="post-autor-info">
                    <%= postagem.autor.nome %>
                    <img class="foto-user-post" src="<%= postagem.autor.foto %>" alt="">
                  </div>
                </div>
              </div>
            </a>
            <% }) %>
          </div>
        <%}%>
      </div>
  </main>
    <script src="./js/home/navbar.js"></script>
    <script src="./js/home/carrousel.js"></script>
    <script src="./js/home/frase.js"></script>
</body>
</html>
