<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Other Level</title> 

    <!-- LINK's -->
    <link rel="stylesheet" href="../css/global/navbar.css">
    <link rel="stylesheet" href="../css/perfil/style.css">
    <%- include('../partials/header'); %>

</head>
<body>
  <%- include('../partials/navbar'); %>
  <div class="perfil">
    <div class="flex">
      <div class="col1">
        <div class="informacoes">
          <div class="info-user">
            <img src="<%= user.Avatar %>" alt="">
            <span class="nome-completo"><%= user.NomeCompleto %></span>
            <span class="nome-user">@<%= user.NomeDeUsuario %></span>
          </div>
          <div class="botao">
              <button type="button" name="" id="" class="btn seguir"><i class="fa-solid fa-plus"></i> Seguir</button>
          </div>
          <div class="redes">
            <span class="contatos">Contatos</span>
            <ul>
                <li><a href="<%= user.Links.Linkedin %>">   <i class="fa-brands faanim fa-linkedin"></i>   </a></li>
                <li><a href="<%= user.Links.Insta %>">      <i class="fa-brands faanim fa-instagram"></i>  </a></li>
                <li><a href="<%= user.Links.Behance %>">    <i class="fa-brands faanim fa-behance"></i>    </a></li>
                <li><a href="<%= user.Links.Dribble %>">    <i class="fa-brands faanim fa-dribbble"></i>   </a></li>
                <li><a href="<%= user.Links.Face %>">       <i class="fa-brands faanim fa-facebook"></i>   </a></li>
                <li><a href="<%= user.Links.Vimeo %>">      <i class="fa-brands faanim fa-vimeo"></i>      </a></li>
                <li><a href="<%= user.Links.GitHub %>">     <i class="fa-brands faanim fa-github"></i>     </a></li>
                <li><a href="mailto:<%= user.Email %>">     <i class="fa-solid faanim fa-envelope"></i>    </a></li>
            </ul>
          </div>
          <div class="outros">
            <div class="info-posts">
              <div class="box">
                <span class="tit">Postagens: </span>
                <span class="qtd-post"><%= user.ProjetosPostados %></span>
              </div>
              <div class="box">
                <span class="tit">Seguindo:</span>
                <span><%= user.Seguindo.length %></span>
              </div>
              <div class="box">
                <span class="tit">Seguidores:</span>
                <span><%= user.Seguidores.length %></span>
              </div>
            </div>
            <div class="sobremim">
              <span class="tit">Sobre mim</span>
              <span class="bio"><pre><%= user.Bio %></pre></span>
            </div>
            <div class="habilidades">
              <span class="tit">Habilidades</span>
              <% if (user.Habilidades >= 1 ) { %>
              <ul>
                <li><%= user.Habilidades %></li>
              </ul>
              <% } else { %>
                <ul>
                  
                  <li class="add-mais">Vazio</li>
                </ul>
              <% } %>
            </div>
            <div class="educacao">
              <span class="tit">Educação</span>
              <% if (user.Educacao >= 1 ) { %>
                <ul>
                  <li><%= user.Educaco %></li>
                </ul>
                <% } else { %>
                  <ul>
                    <li class="add-mais">Vazio</li>
                  </ul>
                <% } %>
            </div>
            <div class="certificacao">
              <span class="tit">Certificação</span>
              <% if (user.Certificacao >= 1 ) { %>
                <ul>
                  <li><%= user.Certificacao %></li>
                </ul>
                <% } else { %>
                  <ul>
                    <li class="add-mais">Vazio</li>
                  </ul>
                <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="col2">
        <div class="postagens">
          <% if (postagens.length === 0) { %>
            <p>Não possui postagens.</p>
          <% } else { %>
              <% postagens.forEach(postagem => { %>
                <a href="/postagem/<%= postagem._id %>">
                  <div class="cardi">
                    <a href="/postagem/<%= postagem._id %>">
                      <figure class="card-image" style="background-image: url('../../<%= postagem.capa %>');" >
                      </figure>
                    </a>
                    <div class="card-h">
                      <%= postagem.info.titulo %>
                    </div>
                  </div>
                </a>
              <% }); %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<%- include('../partials/footer'); %>
<script src="../js/home/navbar.js"></script>
